version: "3.9"

services:
  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/app
      - media_data:/app/media
      - static_data:/app/staticfiles
    depends_on:
      - project_db
      - redis
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: project_db
      POSTGRES_PORT: 5432

  project_db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always


  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    volumes:
      - static_data:/app/staticfiles:ro
    ports:
      - "80:80"
    depends_on:
      - web


volumes:
  postgres_data:
  media_data:
  static_data:
